.btn {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.search-btn {
  color: #771760;
  background-color: #ffdb99;
  padding: 0.7em 1em;
  border-radius: 100px;

  .icon {
    display: none;
  }

  &:hover {
    background-image: linear-gradient(to top, #ffdb99, #ff5db2);
    color: black;

    & .icon {
      display: inline-block;
    }
  }
}

.settings-btn {
  background-color: grey;
  border-radius: 50%;
  padding: 0.7em;

  .icon {
    font-size: 1.5rem;
    color: white;
  }
}
