.app-container {
  height: 90vh;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 80%;
  max-height: 600px;
  width: 100%;
  max-width: 450px;
  padding: 1em 2em;
  border-radius: 40px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2em;
}
