html {
  color: white;
}

.app-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom left, #1f0f53, #771760);
}

.container {
  height: 80%;
  max-height: 700px;
  width: 100%;
}

.col {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.row {
  width: 85%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.search-btn {
  color: #771760;
  background-color: #ffdb99;
  padding: 1em 1.5em;
  border-radius: 100px;

  .icon {
    display: none;
  }

  &:hover {
    background-image: linear-gradient(to top, #ffdb99, #ff5db2);
    color: black;

    & .icon {
      display: inline-block;
    }
  }
}

.settings-btn {
  background-color: grey;
  border-radius: 50%;
  padding: 1em;

  .icon {
    font-size: 2rem;
    color: white;
  }
}

.date-details {
  min-height: 40px;
  width: 100%;
  border-radius: 16px;
  margin-top: 1em;
  text-align: center;
  font-size: 1rem;
  font-family: inherit;
}

.title {
  margin: 0;
}

.title__date {
  color: #ffdb99;
}

.title__night {
  color: #ff5db2;
}
