.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  height: 10vh;
}

.nav-icon {
  color: white;
}

.logo {
  text-decoration: none;
}

.title {
  margin: 0;
}

.title__date {
  color: #ffdb99;
}

.title__night {
  color: #ff5db2;
}

.nav__link {
  text-decoration: none;
}
